.header-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 57px; /* Reducir el padding general */
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 250px);
    margin-left: 250px;
    margin-right: 0px;
    transition: width 0.3s, margin-left 0.3s;
    height: 110px; /* Ajusta esta propiedad para cambiar la altura del encabezado */
    font-size: 20px;
    font-weight: normal;
    border: 1px solid #ebebeb; /* Añadir borde */
    border-left: none; /* Eliminar el borde derecho */
    position: -webkit-sticky; /* Para compatibilidad con Safari */
    position: sticky;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    top: 0; /* Hace que se quede en la parte superior */
    z-index: 1000; /* Asegura que se quede encima de otros elementos */
  }

.header-principal.collapsed {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.header-principal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-principal-left {
  display: flex;
  align-items: center;
}

.menu-icon2 {
  margin-right: 45px; /* Ajusta este valor para mover el ícono más cerca del texto */
  margin-left: -25px; /* Elimina el margen negativo para alinear mejor el ícono */
  cursor: pointer;
  font-size: 2.5em; /* Tamaño constante del ícono */
  border: 1px solid #c4c4c4; /* Añadir borde */
  padding: 15px; /* Espacio interno para el ícono */
  border-radius: 1px; /* Bordes redondeados */
  background: #ffffff;
}

.user-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Asegura que el texto y el ícono estén alineados verticalmente */
}

.user-greeting {
  font-size: 1.2em;
  color: #000;
}

.current-date {
  font-size: 0.9em;
  color: #888;
  margin-top: 4px; /* Ajusta este valor si es necesario para alinear mejor */
}

.header-principal-right {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 100px; /* Espacio entre la imagen y el texto */
  cursor: pointer;
}

.default-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header-principal {
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido a la izquierda */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    padding: 10px; /* Ajusta el padding para pantallas pequeñas */
  }

  .header-principal-content {
    flex-direction: row; /* Alinea en fila */
    align-items: center; /* Alinea verticalmente */
    width: 100%;
    justify-content: space-between; /* Espacio entre los elementos */
  }
  
  .header-principal-left {
    display: flex;
    flex-direction: row; /* Alinea los elementos en fila */
    align-items: center;
  }

  .header-principal-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    width: auto; /* Ajusta el ancho automáticamente */
  }

  .menu-icon2 {
    margin-right: 10px; /* Ajusta el margen para pantallas pequeñas */
    margin-left: -15px; /* Elimina el margen negativo */
    font-size: 2.5em; /* Mantén el tamaño constante del ícono */
    border: 1px solid #c4c4c4; /* Añadir borde */
    padding: 15px; /* Espacio interno para el ícono */
    border-radius: 1px; /* Bordes redondeados */
  }

  .user-info2 {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: flex-start; /* Alinea el contenido a la izquierda */
    margin-top: 0; /* Elimina el margen superior */
  }

  .user-greeting, .current-date {
    text-align: left;
  }

  .user-greeting {
    font-size: 1em; /* Ajusta el tamaño del texto */
    color: #000;
  }

  .current-date {
    font-size: 0.8em; /* Ajusta el tamaño del texto */
    color: #888;
    margin-top: 4px;
  }

  .profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: auto; /* Alinea la imagen de perfil a la derecha */
    margin-right: 10px; /* Espacio entre la imagen y el borde derecho */
  }
}


